
_old
*.egg-info
.pyc
__pycache__
__pycache__/
src/radioa/testing.ipynb
submission_script.py
.vscode/
.vscode
.idea
configs/interactivity_testing.yaml
configs/static_lesion_test.yaml
src/radioa/eval
src/radioa/datasets_preprocessing/max_rider.py
src/radioa/datasets_preprocessing/max_hcc_tace.py
.vscode/launch.json
build
